body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-link a{
  text-decoration: none;
  color: white !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --main-bg-color: #40a7ff ;
}

.navbar {
  background-color: var(--main-bg-color) !important;
  -webkit-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  -moz-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
}

.logo-header {
  font-weight: bold;
  color: black !important;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler:hover {
  color: white;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card {
  width: 400px;
  background-color: #8080801a; 
  border:none;
  -webkit-box-shadow: 4px 3px 41px -4px rgb(230, 229, 229);
  -moz-box-shadow: 4px 3px 41px -4px rgb(230, 229, 229);
  box-shadow: 4px 3px 41px -4px rgb(230, 229, 229);
}

.card:hover {
  width: 400px;
  -webkit-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  -moz-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
}

.loadingBackground{
  opacity: 0.5;
}

.site-page-header-ghost-wrapper {
  margin-top: 1rem;
  -webkit-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  -moz-box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
  box-shadow: 7px 5px 41px -4px rgba(199, 199, 199, 1);
}

.icon-button{

}